@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linea-compra .barra-carga {
  width: 90%;
  background-color: grey;
  height: 1px;
}

.linea-compra .barra-carga1 {
  width: 90%;
  background-color: black;
  height: 1px;
}

.titulo-carrito h3 {
  margin-top: 30px;
  margin-left: 20px;
}

.contenedor-carrito {
  margin-top: 20px;
}

.imagen-producto {
  width: 20%;
}

.col-md-4 p {
  font-size: 25px;
}

.col-md-4 .texto-carrito {
  margin-top: 50px;
}

.linea-resumen {
  width: 84%;
  height: 1px;
  background-color: grey;
}

.linea-carrito {
  width: 65%;
  height: 1px;
  background-color: grey;
}

.contenedor-resumen, col {
  margin-bottom: 30px;
}

body {
  font-family: "anta";
  background-color: #ecf0f1;
  color: #2c3e50;
  overflow-x: hidden;
}

.parrafo-index {
  font-size: 14px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-indicators .active {
  background-color: black;
}

.separator-line {
  width: 100%;
  border-bottom: 1px solid grey;
  margin-top: 50px;
}

.separator-line2 {
  width: 50%;
  height: 1px;
  background-color: grey;
  margin: 40px auto;
}

.ver-mas {
  margin-top: 40px;
  margin-bottom: 70px;
}

.contacto {
  margin-left: 10px;
}

.contacto,
.mb-3 {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.parrafo-contacto {
  font-size: 15px;
}

.contenedor-envio {
  margin-left: 10px;
  margin-top: 30px;
}

.resumen-compraa {
  font-size: 20px;
  margin-top: 15px;
}

.tarjeta {
  margin-bottom: 100px;
}

.columna-1 {
  margin-bottom: 60px;
}

.imagen-producto {
  width: 90%;
}

.imagen-producto img {
  width: 90%;
}

.precio {
  font-size: xx-large;
  margin-top: 30px;
}

.descripcion {
  font-size: medium;
  margin-top: 30px;
}

.busqueda {
  display: flex;
  justify-content: center;
}

.busqueda-barra {
  width: 50%;
}

.boton-buscar {
  margin-left: 10px;
}

.titulo-noticias {
  margin-top: 60px;
}

.titulo-catalogo {
  margin-top: 80px;
  margin-bottom: 80px;
}

.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.1);
}

.boton-siguiente {
  margin-left: 20px;
  margin-top: 40px;
}

.boton-siguientee {
  margin-top: 40px;
}

.btn-primary {
  background-color: #3498db;
  color: #ecf0f1;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-primary-outline-success {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.btn-primary-outline-success:hover {
  background-color: #c0392b;
}

footer {
  margin-top: 60px;
  text-decoration: none;
  background-color: #3498db;
}

footer ul {
  list-style: none;
}

footer .col,
footer a {
  text-decoration: none;
  color: black;
}

footer-copyright {
  margin-left: 10px;
}

.navbar {
  background-color: #3498db;
}

.navbar-nav .nav-link {
  color: #ecf0f1;
}

.navbar-nav .nav-link.active {
  color: #ecf0f1;
}

.navbar-nav .nav-link:hover {
  color: #ecf0f1;
}

.navbar-button button {
  background-color: #3498db;
  color: #ecf0f1;
}

#menu a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#menu button {
  font-size: 18px;
  font-weight: bold;
}



/*# sourceMappingURL=style.css.map */
