.columna-1{
    margin-bottom: 60px;
}

.imagen-producto{
    width: 90%;
    img{
        width: 90%;
    }
}

.precio{
    font-size: xx-large;
    margin-top: 30px;
}

.descripcion{
    font-size: medium;
    margin-top: 30px;
}